<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.royrvik.capgeminiemr"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:targetSdkVersion="17"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name="org.royrvik.capgeminiemr.EMRApplication"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/EMRTheme">
        <activity
            android:name="org.royrvik.capgeminiemr.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".FullScreenViewActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar">
        </activity>

        <activity
            android:name="org.royrvik.capgeminiemr.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="org.royrvik.capgeminiemr.HomeScreenActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="org.royrvik.capgeminiemr.TechnicalSetupActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="org.royrvik.capgeminiemr.IdentifyPatientActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ExaminationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ReviewUploadActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CurrentSetupActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TechLoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TechDepartmentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TechPasswordChangeActivity"
            android:screenOrientation="portrait"/>

        <service android:name="org.royrvik.emrservice.EMRService"/>
    </application>
</manifest>
