<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.royrvik.capgeminiemr"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="org.royrvik.capgeminiemr.EMRApplication"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.Holo.Light">
        <activity
            android:name="org.royrvik.capgeminiemr.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="org.royrvik.capgeminiemr.SettingsActivity"></activity>
        <activity android:name="org.royrvik.capgeminiemr.HomeScreenActivity"></activity>
        <activity android:name="org.royrvik.capgeminiemr.TechnicalSetupActivity"></activity>
        <activity android:name="org.royrvik.capgeminiemr.IdentifyPatientActivity"></activity>
        <activity android:name=".ExaminationActivity"></activity>
        <activity android:name=".ReviewUploadActivity"/>
        <activity android:name=".CurrentSetupActivity"/>
    </application>
</manifest>
